// Place all the styles related to the attendance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

.seats{
  width: 300px;
  height: 300px;
  margin: 20px 0;
  .seat{
    width: 50%;
    height: 50%;
    float: left;
    background: #ccc;
    border: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
    @include border-radius(opacity 200ms);
    opacity: 0.4;
    text-align: center;
    position: relative;
  }
  .seat img{
    display: none;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .seat:hover{
    opacity: 0.6;
  }

  .seat-selected, 
  .seat-selected:hover{
    opacity: 1;
    box-shadow:inset 0 0 3px #999;
  }

  .seat-selected img{
    display: block
  }

  .seat:nth-child(1) {
    border-radius: 5px 0 0 0;
  }
  
  .seat:nth-child(2) {
    border-radius: 0 5px 0 0;
  }

  .seat:nth-child(3) {
    border-radius: 0 0 0 5px;
  }

  .seat:nth-child(4) {
    border-radius: 0 0 5px 0;
  }
}